body {
    background-color: rgb(186, 174, 176);
    font-family: 'VT323', monospace;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(184, 161, 161);
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    padding: 0rem 3rem;
}

.credits {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.credits img {
    width: 2.5rem;

}

#canvas {
    display: grid;
    width: 50em;
    height: 50em;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

.square {
    background-color: rgb(148, 126, 126);
    border: 0.001px solid black;
}

.square:hover {
    background-color: rgb(24, 9, 9);
}


.main-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}


#paint-options,
#canvas-options {
    display: flex;
    font-size: 25px;
    border: 1px solid black;
    background-color: rgb(184, 161, 161);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 30px;
    width: 13rem;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#paint-options legend,
#canvas-options legend {
    font-size: 26px
}

#canvas-size {
    align-self: center;
    width: 13rem;
}

#range {
    align-self: center;
}

/*input color style start*/
#paint-color {
    width: 13rem;
    height: 4rem;
}

#grid-color,
#canvas-color {
    width: 4rem;
}

/*input color style end*/

/* clear button start */
#clear {
    width: 13rem;
}

#clear {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #000000;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#clear:hover,
#clear:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

#clear:active {
    background: var(--color);
    color: #fff;
}

/* clear button end*/


/*custom input radio*/

input[type="radio"] {
    height: 20px;
    cursor: pointer;
}

/*animation rbg*/

#span-rgb {
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: blue;
    }

    10% {
        color: #8e44ad;
    }

    20% {
        color: #1abc9c;
    }

    30% {
        color: #d35400;
    }

    40% {
        color: blue;
    }

    50% {
        color: #34495e;
    }

    60% {
        color: blue;
    }

    70% {
        color: #2980b9;
    }

    80% {
        color: #f1c40f;
    }

    90% {
        color: #2980b9;
    }

    100% {
        color: pink;
    }
}


/*checkbox style*/

/* checkbox-rect */

#grid-show+label:before {
    content: "";
    width: 1em;
    height: 1em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    vertical-align: middle;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
    background: #f3f3f3;
}

#grid-show:checked {
    border-radius: 0.2em;
    border: 2px solid #ff0000;
    background: #50565a;
    box-shadow: 0 0 0 1px #000;
}

#grid-show+label:hover:before {
    background: #50565a;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}